.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.898000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.909000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.901000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.683000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-5.371205px;}
._4{margin-left:-3.921306px;}
._1{margin-left:-1.859263px;}
._3{width:1.790402px;}
._6{width:15.090341px;}
._5{width:16.205503px;}
._2{width:20.796203px;}
._7{width:30.993750px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.fs0{font-size:68.861600px;}
.fs2{font-size:82.650000px;}
.fs3{font-size:99.148400px;}
.y0{bottom:-0.500000px;}
.y7{bottom:89.365000px;}
.y3{bottom:382.271000px;}
.y2{bottom:411.162000px;}
.y1{bottom:454.998000px;}
.y6{bottom:480.897000px;}
.y5{bottom:532.702000px;}
.y8{bottom:577.534000px;}
.y4{bottom:582.516000px;}
.h6{height:27.217823px;}
.h3{height:33.665843px;}
.h2{height:47.789950px;}
.h4{height:57.855000px;}
.h5{height:69.403880px;}
.h0{height:792.000000px;}
.h1{height:792.500000px;}
.w0{width:612.000000px;}
.w1{width:612.500000px;}
.x0{left:0.000000px;}
.x4{left:133.768000px;}
.x1{left:216.672000px;}
.x3{left:255.548000px;}
.x2{left:270.315000px;}
.x5{left:303.133000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-7.161606pt;}
._4{margin-left:-5.228407pt;}
._1{margin-left:-2.479018pt;}
._3{width:2.387202pt;}
._6{width:20.120454pt;}
._5{width:21.607338pt;}
._2{width:27.728271pt;}
._7{width:41.325000pt;}
.fs4{font-size:53.133867pt;}
.fs1{font-size:63.761067pt;}
.fs0{font-size:91.815467pt;}
.fs2{font-size:110.200000pt;}
.fs3{font-size:132.197867pt;}
.y0{bottom:-0.666667pt;}
.y7{bottom:119.153333pt;}
.y3{bottom:509.694667pt;}
.y2{bottom:548.216000pt;}
.y1{bottom:606.664000pt;}
.y6{bottom:641.196000pt;}
.y5{bottom:710.269333pt;}
.y8{bottom:770.045333pt;}
.y4{bottom:776.688000pt;}
.h6{height:36.290431pt;}
.h3{height:44.887791pt;}
.h2{height:63.719934pt;}
.h4{height:77.140000pt;}
.h5{height:92.538507pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.x4{left:178.357333pt;}
.x1{left:288.896000pt;}
.x3{left:340.730667pt;}
.x2{left:360.420000pt;}
.x5{left:404.177333pt;}
}
